@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Tagesschrift&display=swap');

* {
  margin: 0px;
  padding: 0px;
  /* font-family: Annapurna SIL", serif; */
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #DA9F5B;
  --secondary: #33211D;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #FFFBF2;
  --dark: #111;
  --Perdarsi-balck: #00000044;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Montserrat", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Globel classes */
.link {
  text-decoration: none;
  color: white;
}

/* ---- */
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 0px 6px;
  height: 30px;
  border-radius: 2px;
  font-weight: 500;
}

.orange-btn {
  background-color: orange;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* ----- */
.heading {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 7px;
  margin-bottom: 10px;
}

.heading .horizontal-line {
  width: 30px;
  height: 2px;
  background-color: orange;
}

/* Website sections Classes */
.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark);
  color: white;
  overflow: hidden;
  /* font-family: 'Merriweather', serif; */
}

/* --------- */
/* NavBar */
/* --------- */
.NavBar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Tagesschrift", system-ui;
  position: fixed;
  top: 0px;
  transition: background-color 0.3s ease;
  background-color: #00000094;
  z-index: 1000;
}

.scrolled {
  background-color: #000;
  box-shadow: #fc0 1px 0 10px;
  /* color after scroll */
}

.NavBar .logo {
  width: 80px;
}

.NavBar .links-container {
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}

.NavBar .links-container .link h4 {
  font-size: 20px;
  font-weight: normal;
}

.NavBar .more-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.NavBar .more-options .orange-btn {
  width: 100px;
  height: 30px;
  font-family: 'Tagesschrift', system-ui;
  background-color: orange;
  color: var(--white);
  border-radius: 2px;

  &:hover {
    background-color: #f8b231;
  }
}

.NavBar .more-options .shoping-btn {
  position: relative;
  cursor: pointer;

  .shoping-icon {
    font-size: 25px;
  }

  .count {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: -3px;
    background-color: yellowgreen;
    border-radius: 50%;
    font-weight: normal;
    font-family: 'Merriweather', serif;
    font-size: 9px;
  }
}


/* --------- */
/* Home */
/* --------- */

.Home .hero {
  width: 100%;
  height: 98vh;
  background-image: url('./components/assets/web-bg-1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home .hero .hero-container {
  width: 100%;
  height: 100%;
  background-color: #000000a5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.Home .hero .hero-container .btn-group .btn {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .hero .hero-container .btn-group .btn-border {
  border: 2px solid white;
  border-radius: 2px;

  &:hover {
    border: 2px solid transparent;
  }
}

.Home .hero .hero-container .btn-group .btn:last-child {
  border: 2px solid transparent;

  &:hover {
    border: 2px solid white;
    border-radius: 2px;
  }
}

.Home .home-sub-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 40px; */
  flex-direction: column;
  margin: 70px 0px;
}

.Home .sub-section-box {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}

.Home .subsection-details-container {
  width: 50%;
}

.Home .subsection-details-box {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 29px;
  }

  p {
    word-spacing: 2px;
  }

}

.Home .choose-us,
.Home .offer-you {
  gap: 30px;
}

.Home .choose-us .heading,
.Home .offer-you .heading {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Home .choose-us .subsection-details-container {
  width: 70%;
}

.Home .choose-us .subsection-details-box,
.Home .offer-you .subsection-details-box {
  flex-direction: row;
  gap: 50px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-size: 40px;
    }
  }

}

.Home .offer-you .subsection-details-box .card {
  width: 200px;

  .image {
    width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .details {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;


  }
}

.Home .offer-you .subsection-details-box .card .retings {
  width: 200px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Home .home-section-counter {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #302f2f;

  div {
    text-align: center;
  }
}